body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 2fr 13fr;
    grid-template-areas: 
        "sidebar header"
        "sidebar content";
}

.header{
    grid-area: header;
    display: grid;
    grid-template-columns: 6fr 3fr;
    grid-template-rows: 2fr 2fr;
    grid-template-areas: 
        "search morgan"
        "hey-there button-section";
}

div.header-left1{
    grid-area: search;
    display: flex;
    align-items: center;
    padding-left: 30px;
}


input#gsearch{
    width: 600px;
    height: 25px;
    background: #e2e8f0;
    border: 0px;
    border-radius: 12px;
}

div.header-left1 img{
    padding-right: 30px;
    height: 19px;
}

div.header-right1 img{
    padding-right: 20px;
    height: 19px;
}
div.header-right1{
    grid-area: morgan;
    display: flex;
    align-items: center;
    padding-left: 70px;
}

img#right{
    width: 40px;
    height: 40px;
    border-radius: 30%;
}

img#left{
    margin-right: 20px;
    width: 55px;
    height: 55px;
    border-radius: 30%;
}

div.header-left2{
    grid-area: hey-there;
    display: flex;
    align-items: center;
    padding-left: 30px;
}
div.header-left2 span{
    display: flex;
    flex-direction: column;
    vertical-align: top;
}

span.left-text{
    font-size: 12px;
    font-weight: bold;
}

span.left-text2{
    font-size: 22px;
    font-weight: bolder;
}

div.header-right2{
    grid-area: button-section;
    display: flex;
    align-items: center;
}

div.header-right2 button{
    width: 80px;
    height: 35px;
    margin-right: 25px;
    border-radius: 15px;
    border: 0px;
    color: white;
    background-color: #0ea5e9;
}

.sidebar{
    grid-area: sidebar;
    display: grid;
    grid-template-rows: 1fr 3fr 7fr;
    grid-template-areas: 
        "logo"
        "side-1"
        "side2";
    border-radius: 0.5px;
    background-color: #0ea5e9;
}

div.logo{
    grid-area: logo;
    display: flex;
}

.menu ul,
.menu li {
  list-style-type: none;
  margin: 10px 0;
  padding: 0px 0px 0px 6px;
  font-weight: bold;
  font-size: 16px;
  color: white;
}

.menu ul img{
    width: 15px;
    height: 15px;
    padding-right: 16px;
}

.menu li{
    padding-left: 20px;
}

.main-content{
    grid-area: content;
    background-color:#e2e8f0;
    display: grid;
    grid-template-columns: 4fr 2fr;
    grid-template-rows: 1fr 13fr;
    grid-template-areas: 
        "projrcts announcements"
        "content-inside announcement-details";
}

span.projects{
    display: flex;
    align-items: center;
    font-weight: bold;
    padding-left: 20px;
}
span.announcements{
    display: flex;
    align-items: center;
    font-weight: bold; 
    padding-left: 25px;  
}

div.card{
  background-color: #FFFFFF;
  color: black;
  display: grid;
  grid-template-columns: 1fr 40fr;
  border-radius: 10px;
}

div.content-left{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    column-gap: 10px;
    row-gap: 30px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 50px;
}

div.card-images{
    display: flex;
    width: 26px;
    height: 26px;
    margin-right: 10px;
    padding-left: 15px;
}

div.card-images img{
    align-self: flex-end;
    padding-right: 10px;
}

p{
    margin: 0px;
    padding-left: 15px;
    padding-right: 15px;
}

p.title{
    margin-top: 35px;
}

div.content-right{
    display: grid;
    grid-template-rows: 1fr 1fr;
    row-gap: 60px;
    margin-bottom: 50px;
}

div.card-right{
    background-color: #FFFFFF;
    color: black;
    font-size: 13px;
    border-radius: 10px;
    margin-right: 70px;
    margin-left: 20px;
}

div.card-right2{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: #FFFFFF;
    color: black;
    font-size: 13px;
    border-radius: 10px;
    margin-right: 70px;
    margin-left: 20px;
}




